<div class="container">
  <h2>Cadastro de Produto</h2>
  <form (ngSubmit)="salvar()">

    <div style="display:flex;gap: 2%;">

      <div style="display: flex;flex-direction: column; gap: 2%;margin-bottom: 1%; width: 100%;flex: 1;">
        <label>Descrição</label>
        <input pInputText id="desc" name="descricao"
               [(ngModel)]="produtoSelected.descricao" autocomplete="off"/>
      </div>

      <div style="display: flex;flex-direction: column; gap: 2%;margin-bottom: 1%; width: 100%;flex: 1;">
        <label>Situação</label>
        <p-dropdown
          [options]="situacaoProduto"
          [(ngModel)]="produtoSelected.situacaoProduto"
          optionLabel="label"
          name="sit"
          optionValue="value"
          placeholder="Selecione a situação"
          class="w-full md:w-56">
        </p-dropdown>
      </div>
    </div>

    <div style="display: flex;gap: 2%; margin-top: 2%;">
      <button style="flex: 1" type="submit" pButton label="Salvar" icon="pi pi-save"></button>
      <button style="flex: 1" pButton type="button" label="Voltar a lista" icon="pi pi-arrow-left"
              severity="danger"
              [routerLink]="['/listaprodutos']"></button>
    </div>

  </form>
</div>


